@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --color-1: hsl(0, 0%, 98%);
    --color-2: hsl(0, 0%, 41%);
    --color-3: hsl(0, 0%, 8%);
    --color-4: hsl(228, 45%, 44%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media(max-width: 768px) {

    .nav-content {
        display: none;
    }

    .hamburger-container {
        display: block;
    }

    .hamburger{
        width: 2rem;
        height: 2rem;
        position: absolute;
        z-index: 5;
        right: 2rem;
        top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: all .7s;
    }

    .show-menu .hamburger {
        position: fixed;
    }
    
    .line{
        width: 100%;
        height: .2rem;
        padding: 1px;
        border-radius: 10px;
        background-color: var(--color-3);
        box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
        transition: .7s;
    }
    
    .show-menu #line1{
        transform: rotate(45deg) translate(.4rem, .9rem);
        background-color: var(--color-3);
        box-shadow: none;
    }
    
    .show-menu #line2{
        opacity: 0;
        visibility: hidden;
    }
    
    .show-menu #line3{
        transform: rotate(-45deg) translate(.4rem, -.9rem);
        background-color: var(--color-3);
        box-shadow: none;
    }
    
    .sidebar{
        width: 16rem;
        height: 100vh;
        background: var(--color-1);
        box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
        position: fixed;
        top: 0;
        right: -20rem;
        transition: all .7s;
    }
    
    .show-menu .sidebar{
        right: 0;
    }

    .menu-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 80px 20px 20px 20px;
        list-style: none;
    }

    .menu button {
        width: 100px;
        cursor: pointer;
    }

    .menu button img {
        margin-left: 10px;
    }

    .menu ul a {
        text-decoration: none;
        color: var(--color-3);
        font-family: 'Epilogue';
        font-size: 14px;
    }

    .login-hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #login-2 {
        color: var(--color-2);
        cursor: pointer;
    }

    #login-2:hover {
        color: var(--color-3);
    }

    #register-2 {
        width: 80%;
        height: 40px;
        border: 2px solid var(--color-3);
        color: var(--color-2);
        border-radius: 10px;
        cursor: pointer;
    }

    #register-2:hover {
        color: var(--color-3);
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        padding: 10px 0  0 30px;
    }

    .mobile-container {
        display: flex;
        padding-bottom: 20px;
    }

    .mobile-container img {
        margin-right: 10px;
    }

    .mobile-container p {
        font-size: 14px;
        color: var(--color-2);
        font-family: 'Epilogue';
    }

    .mobile-menu-2 {
        display: none;
    }

    .mobile-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding: 10px 30px;
    }
    .mobile-links li a {
        font-size: 14px;
        color: var(--color-2);
        font-family: 'Epilogue';
    }

    .open {
        display: block;
    }

    .open-2 {
        display: block;
    }

}